huggingface_hub
python-dotenv
jupyterlab
ipywidgets
requests
numpy
pandas
scipy
scikit-learn
matplotlib
gensim
torch
transformers
tqdm
openai
gradio
langchain
tiktoken
faiss-cpu
langchain-groq
langchain-openai
langchain_experimental
langchain_chroma
langchain[docarray]
datasets
sentencepiece
matplotlib
google.generativeai
anthropic
scikit-learn
unstructured
chromadb
plotly
jupyter-dash
beautifulsoup4
pydub
modal
ollama
accelerate==0.31.0
sentence-transformers
sentencepiece
bitsandbytes
psutil
setuptools
speedtest-cli
blosc2
cython>=0.29.21
tenacity<9
black>=22.3.0
fsspec==2023.4.0
